.rangeSlider {
  
  width: 75%;
  height: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

.track {
  margin-top: 4px;
  left: 0;
  right: 0;
  border: 1px solid grey;
  border-radius: 8px;
  height: 8px;
  background-color: rgb(101, 149, 254);
  z-index: -7;
}
#output1  {
  background-color: wheat;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 5px;
}

.knob {
  position: relative;
  top: -13px;
  margin: 0;
  padding: 0;
  height: 16px;
  width: 16px;
  background-color: black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: rgb(253,253,253);
  background: -moz-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(253,253,253)), to(rgb(190,190,190)));
  background: -webkit-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
  background: -ms-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
  background: -o-linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
  background: linear-gradient(top, rgb(253,253,253), rgb(190,190,190));
  border: 1px solid rgb(160,160,160);
  cursor: pointer;
}