body{
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  background:  rgb(0, 4, 79);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  max-width: 1000px;
  margin: auto auto;
  min-width: 800px; 
}

tr, td {
  border: 1px solid grey;
}
.tab    {
    padding-top: 30px;
    width: 100%;
}
/* Style the buttons inside the tab */
.tab_on {
  background-color: rgb(145, 140, 253);
  border: none;
  color:black;
  width: 175px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  padding-top: 15px;
  transition: 0.6s;
  font-size: 16px;
}
.tab_off {
  background-color: rgb(210, 208, 255);
  color:black;
  border: none;
  width: 175px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.6s;
  font-size: 15px;
}
.tg {
  display: block;
  border: 0px solid darkgray;
  width: auto;
  min-width: 250px;
  padding-bottom: 30px;

}
.QtyNum {
  width: 40px;
  height: 28px;
  text-align: center;
  border-radius: 0px;
}

input[type=text]  {
  width: 100px;
  color: black
}
#mth {
  background-color: green;
}
#period {
  font-weight: bolder;
  font-size: 24px;
}

/* ensures the increment/decrement arrows do not display on months selector*/
#mths::-webkit-inner-spin-button, 
#mths::-webkit-outer-spin-button,
#increase::-webkit-inner-spin-button,
#increase::-webkit-outer-spin-button
{
  opacity: 0;
}

.number-input {
  display: flex;
}
input {
  width: 40px;
  border: solid 1px lightgrey;
  border-radius: 0;
  text-align: center
}
.spinner {
  border: solid 1px lightgrey;
  width: 30px;
  height: 30px;
}
.spinner:hover {
  background: lightgrey;
}
.spinner:first-child {
  border-radius: 3px 0 0 3px;
}
.spinner:last-child {
  border-radius: 0 3px 3px 0;
}


/** CSS to modify the knob of the sliders to aan AIoT Logo **/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 150px;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 10px;
  background: #ccc;
}
/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 30px;
  width: 30px;
/*   background-color: #f50; remove this*/
  background-image: url("https://aiot-consulting.github.io/Static-Assets/logo.png");
  background-size: cover;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  /*  rotate thumb  */
  transform: rotateZ(var(--thumb-rotate, 0deg));
}
/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 30px;
  width: 30px;
/*   background-color: #f50; */
  background-image: url("https://aiot-consulting.github.io/Static-Assets/logo.png");
  background-size: cover;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  /*  rotate thumb  */
  transform: rotateZ(var(--thumb-rotate, 0deg));
}
/* Hover, active & focus Thumb: Webkit */
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(107, 90, 255, 0.1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(107, 90, 255, .2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(107, 90, 255, .2)
}
/* Hover, active & focus Thumb: Firefox */
input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
}

.value {
  font-size: 26px;    
  width: 50px;
  text-align: center;
}
#scpower, #mppower  {
  width: 75px;
}
#revenue  {
  width: 150px;
}

